.backgroundimg {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Webpage_background.jpg/800px-Webpage_background.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-btn {
    background-color: #b01cb5b9;
    color:#f4a023;
}

.hover-btn:hover {
background-color: transparent;
color: #b01cb5b9;
font-weight: bolder;
}

.backgroundimg2 {
    background-image: url(https://ih1.redbubble.net/image.616900114.8552/flat,1000x1000,075,f.u2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    
}

.set-button {
    position: absolute;
    align-self: center;
    bottom: 0;
    background-color: #750c1d;
    color: #fdbd12;
}

.hover-btn2:hover{
background-color: #fdbd12;
color: #750c1d;
}

.set-card-body {
    margin-bottom: 1rem;
    font-size: large;
    background-color: #b01cb5;
    color: #fdbd12;
}


.row-line {
    height: 35rem;
    border-bottom: 1px solid #b01cb5b9;
    box-shadow: 1px 1px #8d1a2bb7;
    
}
.foot-er {
    background-color: #e95f4b;
}

.bg-purp {
    background-color: #b01cb5;
    color: #fdbd12;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.c-text {
    color: #fdbd12;
    margin-bottom: 0;
}


/* Media queries */



@media (min-width: 1023px){
    .set-deck-body {
        position: relative;
        top: 33rem;
        left: 8rem;
    }
}

@media (max-width: 1024px){
    .set-deck-body {
        position: relative;
        top: 15rem;
        left: 6rem;
    }
}

@media (max-width: 575.98px){ 
    .card-img-top {
    height: 100px !important;
    width: 100px !important;
    align-self: center;
    }
}

@media (max-width: 768px){
    .set-deck-body {
        top: 15rem;
        left: 1rem;
    }
}

@media (max-width: 425px){
    .set-deck-body {
        top: 6rem;
        left: .1rem;
    }
}

@media (max-width: 320px){
    .set-deck-body {
        top: 2rem;
    }
}

@media (min-width: 1440px){
    .set-deck-body {
        top: 10rem;
    }
}

@media (min-width: 2560px){
    .set-deck-body {
        top: 10rem;
        left: 13rem;
    }
}